body{
    background-color:rgb(218, 235, 250);
}
.container{
    background-color: white;
    box-shadow: 1px 1px transparent;
    border-radius: 20px;
    position:absolute;
    left: 500px;
    top:150px;
    width: 290px;
    
}
.image{
height: 250px;
width: 250px;
border-radius: 20px;
position:relative;
left:20px;
top: 20px;
right: 20px;
}
.words-part{
    text-align: center;
   padding: 20px;
}



